.body {
	border-radius: 0px;
}
.drag {
	-webkit-app-region: drag;
}
.no-drag {
	-webkit-app-region: no-drag;
}
.top-corner {

	width: 90px;
}
.ui.top-corner > div {
	height: 25px;
	width: 85px;
	position: absolute;
	left: 5px;
	top: 5px;

} 
.ui.top-corner >div > button {
	margin: 2px;
	padding: 2px;
}

.ui.top-corner > div > button > .icon {
	margin: 0px;
	padding: 0px;
}
